<footer class="footer-reign">
  <h4>Let's Get Social</h4>
  <ul class="list-inline social-icons">
    <li><%= link_to image_tag('icon_facebook.png'), 'https://www.facebook.com/ReignGlobalWatches' %></li>
    <!--<li><%#= link_to image_tag('icon_twitter.png') %></li>
    <li><%#= link_to image_tag('icon_instagram.png') %></li>
    <li><%#= link_to image_tag('icon_google.png') %></li>
    <li><%#= link_to image_tag('icon_pinterest.png') %></li>
    <li><%#= link_to image_tag('icon_linkedin.png') %></li>
    <li><%#= link_to image_tag('icon_youtube.png') %></li>-->
  </ul>
  <h4>Contact Us</h4>
  <p class="contact-us">
    Reign Global Pte Ltd, 81 Ubi Ave 4 #05-05, Singapore 408830
    <strong>O</strong>: +65 444 0188 <strong>E</strong>: Admin@reignglobal.com<br>
  </p>
  <%= image_tag 'copyright.png' %>
</footer>
