<div class="page-content">
  <section class="full-image-block about-1">
    <div class="image-section-content">
      <h1>The Quest for<br>Work-Life Balance</h1>
      <p>We continuously strive to live our mission every day</p>
    </div>
  </section>
  <section class="no-image-block container">
    <div class="row">
      <div class="col-xs-12">
        <h2>OUR STORY</h2>
      </div>
      <div class="col-xs-12">
        <h4>About Us</h4>
      </div>
      <div class="col-xs-6">
        Reign Global is evolving the way the world moves. By seamlessly connecting Consumers to Businesses through our web,
        we make purchase more accessible, opening up more possibilities for consumer and more business for Merchants.
      </div>
      <div class="col-xs-6">
        Reign Global is now rapidly expanding global presence continues to bring Businesses and consumer closer.
      </div>
    </div>
  </section>
  <section class="full-image-block about-2">
    <div class="image-section-content">
      <h1>Fun, Freedom & Fulfillment</h1>
      <p>A values and commitment based culture</p>
    </div>
  </section>
  <section class="steps-block container">
    <div class="row heading">
      <h2>OUR CORE VALUES</h2>
      <h4>Striving to live up to our promise</h4>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 step">
        <h3>1. Fun</h3>
        <p>
          Life is not just about<br>
          making money, so why not just<br>
          enjoy ourselves while making it?
        </p>
        <div class="separators" role="presentation">
          <div class="separator"></div>
          <div class="separator"></div>
          <div class="separator"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 step">
        <h3>2. Freedom</h3>
        <p>
          Tight schedules and long<br>
          working hours. All just part of<br>
          a system that we do not follow.
        </p>
        <div class="separators" role="presentation">
          <div class="separator"></div>
          <div class="separator"></div>
          <div class="separator"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 step">
        <h3>3. Fulfillment</h3>
        <p>
          Feeling accomplished is<br>
          what we get at the end<br>
          of every day.
        </p>
      </div>
    </div>
  </section>
</div>