<div class="page-content">
  <section class="full-image-block careers-1">
    <div class="image-section-content">
      <h1>We're looking for talents<br>to join our passionate team</h1>
      <button class="btn btn-clear">See Our Current Openings</button>
    </div>
  </section>
  <section class="no-image-block container">
    <div class="row">
      <div class="col-xs-12">
        <h2>OUR COMPANY</h2>
      </div>
      <div class="col-xs-12">
        <h4>An innovative team dedicated to doing things right</h4>
      </div>
      <div class="col-xs-6">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
        commodo ligula eget dolor. Aenean massa. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu.
      </div>
      <div class="col-xs-6">
        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
        Vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
        venenatis vitae, justo. Vulputate egeta nec quam felis.
        Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
        Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
        eleifend tellus. Aenean leo ligula, porttitor eu consequat.
      </div>
    </div>
  </section>
  <section class="full-image-block careers-2">
    <div class="image-section-desc">
      <p>Reign Global Pte Ltd represents the sum of the experiences, skills, professional networks and academic knowledge that the team possesses collectively. With  diverse the backgrounds of the team thriving together for the best bottom-line performances.</p>
    </div>
    <div class="image-section-content">
      <h1>Working with Us<br>has it's Perks</h1>
    </div>
  </section>
  <section class="steps-block container">
    <div class="row heading">
      <h4>
        At Reign Global, we care about our staff's health, well-being and happiness.<br>
        Making sure our employee's needs are addressed with benefit packages.
      </h4>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 step">
        <h3>The Essentials</h3>
        <p>
          We believe that achieving<br /> 
          a work-life balance is an <br />
          integral part of the recipe <br />
          for success.
        </p>
        <div class="separators" role="presentation">
          <div class="separator"></div>
          <div class="separator"></div>
          <div class="separator"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 step">
        <h3>The Extras</h3>
        <p>
          Leisure is part of work<br /> 
          to enhance the team's <br />
          communication and bonding
        </p>
        <div class="separators" role="presentation">
          <div class="separator"></div>
          <div class="separator"></div>
          <div class="separator"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 step">
        <h3>The Rewards</h3>
        <p>
          Strategic reward system for employees.<br />
          Compensation, benefits,<br />
          recognition and appreciation.
        </p>
      </div>
    </div>
  </section>
  <section class="no-image-block container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2>OUR CULTURE</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
          enim justo, rhoncus venenatis vitae, justo.
        </p>
        <a href="<%= new_user_registration_path %>"><button class="btn btn-clear">Join Our Team</button></a>
      </div>
    </div>
  </section>
</div>
