<h1>New User Sign up</h1>
<p>A new user has signed up on Reign Global as a member!</p>

<ul>
  <li><strong>Member ID:</strong> <%= @user.member_id %></li>
  <li><strong>Name:</strong> <%= @user.full_name %></li>
  <li><strong>Email:</strong> <%= @user.email %></li>
</ul>

<p><small>This is an automated email. No reply is necessary.</small></p>