.footer-reign {
  background-color: #141414;
  color: white;
  padding: 30px 0;
  text-align: center;
  h4 {
    font-family: $font-dolce-vita;
    font-weight: bold;
  }
  .social-icons {
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .contact-us {
    margin-bottom: 50px;
  }
}