<%= content_for :content do %>
    <%= content_for?(:main_content) ? yield(:main_content) : yield %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-8 col-xs-push-2">
          <div class="panel panel-primary auth-panel">
            <div class="panel-heading">
              <h3 class="panel-title">MEMBER LOGIN OR SIGN UP</h3>
            </div>
            <div class="panel-body">
              <%= yield :devise_content %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= render template: "layouts/application" %>